.join-us {
  display: flex;
  padding: 0 2rem;
  gap: 10rem;
}

.left-ju {
  color: white;
  font-size: 3rem;
  font-weight: bold;
  position: relative;
}

.left-ju hr {
  position: absolute;
  width: 10.5rem;
  border: 2px solid var(--orange);
  border-radius: 20%;
  margin: -10px 0;
}

.left-ju > div {
  display: flex;
  gap: 1rem;
}

.right-ju {
  display: flex;
  justify-content: center;
  align-items: center;
}

.email-container {
  display: flex;
  gap: 3rem;
  background-color: gray;
  padding: 1rem 2rem;
}

.email-container input {
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--lightgray);
}

::placeholder {
  color: var(--lightgray);
}

.join-btn {
  background-color: var(--orange);
  color: white;
}

/* MEDIA QUERY */
@media screen and (max-width: 768px) {
  .join-us {
    flex-direction: column;
    gap: 1rem;
  }

  .left-ju {
    font-size: x-large;
    flex-direction: column;
  }

  .right-ju {
    padding: 2rem;
  }
}
